#include "../behavior_keymap.dtsi"

&test_caps_word {
    word-list = <NUBS KP_MINUS KP_SLASH LA(KP_PLUS) KP_DOT>;
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &test_caps_word &kp LA(KP_PLUS)
                &kp B           &kp KP_PLUS
            >;
        };
    };
};

&kscan {
    events = <
        ZMK_MOCK_PRESS(0,0,10)
        ZMK_MOCK_RELEASE(0,0,10)
        ZMK_MOCK_PRESS(0,1,10)
        ZMK_MOCK_RELEASE(0,1,10)
        ZMK_MOCK_PRESS(1,0,10)
        ZMK_MOCK_RELEASE(1,0,10)
        ZMK_MOCK_PRESS(1,1,10)
        ZMK_MOCK_RELEASE(1,1,10)
        ZMK_MOCK_PRESS(1,0,10)
        ZMK_MOCK_RELEASE(1,0,10)
    >;
};
